div{
  display: flex;
  padding: 0;
  border: 0;
  margin: 0;
}

html,body,#root,.App{
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  flex-direction: column;
}

.scoreboard{
  width: 100%;
  height: 15%;
  background-color: aqua;
}

.banpicks{
  width: 100%;
  height: 85%;
  flex-direction: row;
  justify-content: space-between;
}

.banpick{
  background-color: transparent;
  height: 100%;
  width: 20%;
  flex-direction: column;
}

.picks{
  background-color: crimson;
  height: 90%;
  width: 100%;
  flex-direction: column;
}

.pick{
  height: 20%;
  width: 100%;
  position: relative;
}

.pick:nth-child(1),.ban:nth-child(1){
  background-color: red;
}
.pick:nth-child(2),.ban:nth-child(2){
  background-color: yellow;
}
.pick:nth-child(3),.ban:nth-child(3){
  background-color: green;
}
.pick:nth-child(4),.ban:nth-child(4){
  background-color: blue;
}
.pick:nth-child(5),.ban:nth-child(6){
  background-color: violet;
}

.pick-child,.ban-child{
  width: 100%;
  height: 100%;
  position: absolute;
}

@keyframes blink{
  0%{
    opacity: 0%;
  }
  50%{
    opacity: 50%;
  }
  100%{
    opacity: 0%;
  }
}

.now{
  display: none;
}

.now.doing{
  display: flex;
}

.blink{
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse,transparent,#ffffffa0);
  z-index: 4;
  animation: blink 2s ease 0s infinite;
}

.dark{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #251111;
  z-index: 3;
  opacity: 50%;
}

.bans{
  background-color: transparent;
  height: 10%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.red.bans{
  flex-direction: row-reverse;
}

.ban{
  height: 100%;
  width: 17%;
  background-color: chocolate;
  position: relative;
}

.ban-blank{
  width: 4%;
}

img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.champ-img{
  overflow: hidden;
  background-size: cover;
} 

.champ-img > img{
  position: relative;
  z-index: 2;
  transform: scale(1.2);
}