div{
  display: flex;
  padding: 0;
  border: 0;
  margin: 0;
}

body{
  background-color: transparent;
}

html,body,#root,.App{
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  flex-direction: column;
  font-family: 'NanumSquare', sans-serif;
}

.scoreboard{
  width: 100%;
  height: 15%;
  background-color: aqua;
}

.banpicks{
  width: 100%;
  height: 85%;
  flex-direction: row;
  justify-content: space-between;
}

.banpick{
  background-color: transparent;
  height: 100%;
  width: 20%;
  flex-direction: column;
}

.picks{
  height: 85%;
  width: 100%;
  flex-direction: column;
}

.pick{
  height: 20%;
  width: 100%;
  position: relative;
}

.pick-child,.ban-child{
  width: 100%;
  height: 100%;
  position: absolute;
}

@keyframes blink{
  0%{
    opacity: 0%;
  }
  50%{
    opacity: 50%;
  }
  100%{
    opacity: 0%;
  }
}

.now{
  display: none;
}

.now.doing{
  display: flex;
}

.blink{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  animation: blink 2s ease 0s infinite;
}

.blue .blink{
  background: linear-gradient(to right,transparent,#ffffffa0);
}

.red .blink{
  background: linear-gradient(to left,transparent,#ffffffa0);
}

.dark{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #251111;
  z-index: 3;
  opacity: 50%;
}

.bans{
  background-color: transparent;
  height: 12%;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.red.bans{
  flex-direction: row-reverse;
}

.ban{
  height: 100%;
  width: 19.2%;
  position: relative;
}

.ban-blank{
  width: 4%;
}

img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.champ-img{
  overflow: hidden;
  background-size: cover;
} 

.champ-img > img{
  position: relative;
  z-index: 2;
  transform: scale(1.5);
}

.ban-child.champ-img >img{
  transform: scale(1.3);
}

.between{
  width: 100%;
  height: 1.5%;
}

.red > .not-selected{
  background: linear-gradient(225deg,transparent,#2f4f4ff0);
}

.blue > .not-selected{
  background: linear-gradient(135deg,transparent,#2f4f4ff0);
}

.not-selected > img{
  display: none;
}

.champ-info{
  width: 100%;
  height: 100%;
  flex-direction: column;
  z-index: 5;
  align-items: center;
}
.top-blank{
  height: 10%;
}
.champ-name-div{
  width: 90%;
  height: 20%;
  flex-direction: column;
  align-items: flex-end;
}

.red .champ-name-div{
  align-items: flex-start;
}

.champ-name{
  height: 100%;
  color: white;
  font-weight: 800;
  text-shadow: -1px 0 #000,
	       0 1px #000,
	       1px 0 #000,
	       0 -1px #000;
}

.middle-blank{
  height: 40%;
}

.user-name-div{
  width: 90%;
  height: 20%;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.red .user-name-div{
  align-items: flex-start;
}

.user-name{
  color: white;
  font-weight: 800;
  font-size:xx-large;
  text-shadow: -1px 0 #000,
	       0 1px #000,
	       1px 0 #000,
	       0 -1px #000;

}